.form {
    display: flex;
    border: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    padding: 10px;
}
.cards__container{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    border-radius: 10px;

}
.cards__list {
    box-sizing: border-box;
    position: relative;
    width: 380px;
    height: 460px;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    padding: 20px;

}
.logo {
    margin-bottom: 242px;
}
.image__chat {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
}
.image__rectangle{
position: absolute;
left: 0px;
top: 218px;
transform: translateY(-25%);
}

.avatar__box {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    top: 178px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-style: solid;
    border-width: 9px;
    width: 80px;
    height: 80px;
    border-color: #EBD8FF;
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06), outset 0px -2.19582px 4.39163px #AE7BE3, outset 0px 4.39163px 3.29372px #FBF8FF;
    border-radius: 50%;
}
.avatar__box>img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text {
    text-align: center;
    margin-top: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #EBD8FF;
}
